// global variables
:root {
  --body-bg: #10141e;
  --header-bg: #171e31;
  --navbar-btn: #5a6a90;
  --accent: #fc4545;
  --p-text: rgba(255, 255, 255, 0.75);
}

// mixin for typography
@mixin typography($fs: 1.6rem, $fw: 400, $lh: 1.5) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

// mixin for flex between
@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// mixin for flex between
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// mixin for small screen
@mixin small() {
  @media (min-width: 500px) {
    @content;
  }
}

// mixin for medium screen
@mixin medium() {
  @media (min-width: 768px) {
    @content;
  }
}

// mixin for large screen
@mixin large() {
  @media (min-width: 1024px) {
    @content;
  }
}

// mixin for extralarge screen
@mixin extralarge() {
  @media (min-width: 1240px) {
    @content;
  }
}

// mixin for extraextralarge screen
@mixin xxl() {
  @media (min-width: 1440px) {
    @content;
  }
}

// basic resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// custom selection
::selection {
  background-color: var(--accent);
  color: #fff;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  &-thumb {
    background-color: var(--navbar-btn);
    border-radius: 1rem;

    &:hover {
      background-color: #fff;
    }
  }

  &-track {
    background-color: transparent;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

body {
  @include typography();
  background-color: var(--body-bg);
  color: var(--p-text);
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

a,
img,
span {
  display: block;
}

@include large() {
  .main {
    margin-left: 16rem;
  }
}

.spin-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba($color: #000000, $alpha: 0.8);

  .spinner {
    width: 100px;
    height: 100px;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.home,
.movies,
.tv {
  padding-inline: 2rem;
}

@include large() {
  .movies,
  .tv {
    padding-block: 5rem;
  }
}

.page__btns {
  @include flex-center();
  gap: 2rem;
  margin-block: 5rem;
  .page__btn {
    padding: 1rem 3rem;
    border: 2px solid var(--navbar-btn);
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.75);
    user-select: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      background-color: var(--navbar-btn);
    }
  }
}

.login,
.register {
  width: 100%;
  height: 100vh;
  @include flex-center();
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }

  a {
    border: 1px solid var(--navbar-btn);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  }
}

.bookmarked {
  padding-inline: 2rem;
}
