.recommended {
  margin-block: 4rem 1.5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
  }

  &__single {
    cursor: pointer;

    &:hover {
      .overlay {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }

      .play {
        opacity: 1;
        pointer-events: all;
      }
    }

    &--img {
      position: relative;
      figure {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transition: 0.25s;
      }

      .bookmark {
        position: absolute;
        z-index: 5;
        top: 0.5rem;
        right: 0.5rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        @include flex-center();

        &:hover {
          background-color: white;

          svg {
            stroke: #000000;
          }
        }

        svg {
          transform: scale(0.8);
        }
      }

      .play {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex-center();
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;

        & > div {
          padding: 0.5rem 1rem;
          @include flex-center();
          gap: 1rem;
          background-color: rgba($color: #fff, $alpha: 0.5);
          border-radius: 5rem;
        }
      }
    }

    &--extra {
      margin-top: 0.5rem;
      & > div {
        @include flex-center();
        justify-content: flex-start;
        gap: 1rem;

        span {
          @include typography(1.2rem, 300, 0.5);
        }

        .dot {
          width: 4px;
          height: 4px;
          background-color: rgba($color: #fff, $alpha: 0.5);
          border-radius: 50%;
        }

        .icon {
          @include flex-center();
          gap: 1rem;
        }
      }

      & > h4 {
        margin-top: 0.8rem;
        @include typography(1.5rem, 500, 1.5);
      }
    }
  }
}
