.searchbox {
  padding-block: 5rem;

  @include medium() {
    padding-top: 0;
  }

  @include large() {
    padding-block: 5rem;
  }

  &__form {
    width: 100%;
    @include flex-center();
    justify-content: flex-start;
    gap: 1rem;
    position: relative;

    &--label {
      svg {
        width: 2rem;

        @include medium() {
          width: 3rem;
        }
      }
    }

    &--input {
      width: 100%;
      height: 4rem;
      color: #fff;
      border-bottom: 1px solid transparent;
      @include typography(1.8rem, 400, 1.5);
      padding-inline: 1rem;

      &::placeholder {
        color: var(--p-text);
        @include typography(1.8rem, 300, 1.5);
      }

      &:focus {
        border-bottom: 1px solid var(--navbar-btn);
      }
    }

    &--suggestions {
      position: absolute;
      z-index: 1000;
      top: 108%;
      left: 0;
      width: 100%;
      max-height: 300px;
      height: auto;
      background-color: rgba($color: #000000, $alpha: 0.9);
      overflow-y: auto;
      display: none;

      &.show {
        display: block;
      }

      .loading {
        height: 200px;
        width: 100%;
        @include flex-center();
      }

      .suggestions {
        @include flex-center();
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;

        .single {
          cursor: pointer;
          @include flex-center();
          justify-content: flex-start;
          gap: 2rem;

          & > figure {
            width: 5rem;
            height: 5rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
