.trending {
  &__title {
    @include typography(2.5rem, 300, 1.5);
    margin-bottom: 2.5rem;
  }

  &__banner {
    @include flex-center();
    justify-content: flex-start;
    gap: 5rem;
    overflow-x: scroll;
  }

  &__single {
    cursor: pointer;
    position: relative;

    &:hover {
      & > .trending__single--overlay {
        background-color: rgba($color: #000000, $alpha: 0.6);
      }

      .trending__single--play {
        opacity: 1;
        pointer-events: all;
      }
    }

    &--bookmark {
      position: absolute;
      z-index: 4;
      top: 2rem;
      right: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.5);
      height: 35px;
      width: 35px;
      border-radius: 50%;
      @include flex-center();

      &:hover {
        background-color: white;

        svg {
          stroke: #000000;
        }
      }
    }

    &--play {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;

      & > div {
        @include flex-center();
        gap: 1rem;
        border-radius: 10rem;
        padding: 0.5rem 1rem;
        background-color: rgba($color: #fff, $alpha: 0.3);

        svg {
          fill: white;
          width: 3rem;
        }

        span {
          align-self: center;
          @include typography(1.6rem, 400, 1.5);
        }
      }
    }

    &--img-cover {
      width: 400px;
    }

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    &--details {
      position: absolute;
      z-index: 3;
      bottom: 10px;
      left: 10px;
      .extra {
        display: flex;
        flex-direction: column;

        & > div {
          @include flex-center();
          justify-content: flex-start;
          gap: 1rem;

          span {
            @include typography(1.4rem, 400, 1.5);
          }

          .dot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: white;
          }

          .icon {
            @include flex-center();
            gap: 1rem;
          }
        }

        & > h4 {
          @include typography(2.2rem, 300, 1.5);

          &:hover {
            color: rgba($color: #fff, $alpha: 0.7);
          }
        }
      }
    }

    &--overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      transition: 0.25s;
    }
  }
}
